

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


$primary-font:"Big Shoulders", sans-serif;
$secondary-font: "Outfit", sans-serif;

$gold:#D5966C;
$black:#151515;
$white:#FFFFFF;
$gray:#444444;
$gray-light:#e8e9eb;