@use '../abstracts/variables' as v;
@use'../abstracts/mixins' as m;

.header{
    .principal, .mapa{
        max-width: 100%;
        &__tablet{
        display: none;
    }
    }
    
    h1{
        margin-top: 32px;
        color: v.$black;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 1px;
        margin-left: 16px;
        margin-right: 16px;
        
    }
    p{
        color: v.$gray;
        font-family: v.$secondary-font;
        font-size: 20px;
        font-weight: 200;
        margin-top: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .container{
        
        .black{
            display: none;
        }
        @include m.breakpoint(tablet){
            .principal{
                display: none;
            }
            .principal__tablet{
                display: block;
                // max-width: 100%;
                width: 55%;
                position: absolute;
                z-index: -1;
                margin-left: 1px;
            }
            margin-bottom: 20px;    
            height: 700px;
            min-width: 727px;
        }
        @include m.breakpoint(desktop){
            position: relative;
            .black{
                display: block;
                // position: absolute;
                width: 450px;
                height: 800px;
                background-color: v.$black;
                // opacity: 0.3;
                // z-index: 1;
            }
        .desktop{
            display: flex;
        }
        .principal__tablet{
            position: static;
            width: 540px;
            height: 800px;
        }    
    }
    }
    &__content{
        @include m.breakpoint(tablet){
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
            position: relative;
            top: 100px;
            left: 365px;
            margin: 0;
            padding: 0;
            h1{
                font-size: 70px;
                // margin: 0;
            }
            p{
                width: 50%;
                // margin: 0;
                font-size: 18px;
                font-weight: 300;
            }
        }
        @include m.breakpoint(desktop){
            position: absolute;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            
            
            h1{
                position: absolute;
                font-size: 80px;
                color: v.$white;
                left: -140px;
                top: 50px;
                z-index: 2;
            }
            p{
                font-size: 18px;
                width: 72%;
                margin-bottom: 40px;
            }
            .desktop__description{
                position: absolute;
                color: v.$white;
                left: 540px;
                top: 50px;
                z-index: 2;
                width: 400px;
                
            }
        }
    }
}

.header-maps{
    //     .container-maps{
    //     position: relative;
    // }
    .mapa{
        margin:0;
        padding: 0;
        // display: block;
        width: 375px;
        // min-width: 100%;
        // min-height: 550px;
        // margin-top: 16px;
        object-fit: cover;
    
    }
    .navbar-location{
        position: absolute;
        top: 140px;
        left: 240px;
        // background-color: red;
    }
    .mapa_tablet, .mapa_desktop{
        display: none;
    }
    @include m.breakpoint(tablet){
    
        .mapa, .mapa_desktop{
            display: none;
        }
        .mapa_tablet{
            margin:0;
            padding: 0;
            display: block;
            width: 100%;
            margin-top: 16px;
        }
        .navbar-location{
        position: absolute;
        top: 140px;
        left: 240px;
        // background-color: red;
    }}
    @include m.breakpoint(desktop){

        .mapa_tablet, .mapa{
            display: none;
            }
        .mapa_desktop{
            display: block;
            width: 1200px;
            // height: 800px;
            object-fit: cover;
            }
        .navbar-location{
        position: absolute;
        top: 200px;
        left: 500px;
        // background-color: red;
    }
}
    }
.main__maps{
    .container{
        margin-left: 16px;
        margin-right: 16px;
        .spacer__maps{
            p{
                font-size: 18px;
                padding-right: 10px;
            }
        }
        @include m.breakpoint(tablet){
            .spacer__maps{
                display: flex;
                gap:68px;
                padding-right: 40px;
            }
        }
    }
    }
