@use '../abstracts/variables' as v;

.navbar{
    padding-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    ul{
        list-style: none;
    }
    a{
        display: flex;
        align-items: center;
        text-decoration: none;

    }
    span{
        background-color: v.$black;
        padding: 24px 35px 24px 32px;
        color: v.$white;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 3.64px;
        text-transform: uppercase;
    }
    img{
        background-color: v.$gold;
        padding: 22px;
    }
}
.navbar-location{
    img{
        transform: rotate(180deg);
    }
}